<?xml version="1.0" ?>
<model>
    <name>cota</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>EUFS F1 Sim</name>
        <email>eufs-f1-sim@local</email>
    </author>
    <description>COTA Grand Prix layout_reference cone track. Gate is the orange start/finish line.</description>
</model>
