<?xml version="1.0"?>
<robot name="eufs" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="config_file" default="$(find eufs_racecar)/robots/eufs/configDry.yaml"/>
  <xacro:arg name="forgez_mode" default="Nominal"/>
  <xacro:arg name="forgez_T_core" default="40.0"/>
  <xacro:arg name="forgez_E_lap" default="220.0"/>
  <xacro:arg name="forgez_R_OT" default="0.040"/>
  <!-- Motion plant selection.  DynamicBicycle is the stock EUFS acceleration
       plant; Ackermann is the contact-rich Gazebo velocity plant. -->
  <xacro:arg name="vehicle_model" default="DynamicBicycle"/>
  <xacro:arg name="command_mode" default="acceleration"/>
  <xacro:arg name="publish_tf" default="false"/>
  <xacro:arg name="frame_prefix" default=""/>
  <xacro:arg name="native_remap" default="false"/>
  <xacro:arg name="pub_ground_truth" default="true"/>
  <xacro:arg name="noise_config" default=""/>
  <xacro:arg name="hybrid_profile" default="legacy"/>
  <xacro:arg name="native_hybrid" default="false"/>

  <xacro:include filename="$(find eufs_racecar)/urdf/racecar.xacro"/>
  <!-- Native hybrid owns energy and tyre telemetry.  Keep the historical
       Forgez stack for legacy/Ackermann launches only. -->
  <xacro:unless value="$(arg native_hybrid)">
    <xacro:include filename="$(find eufs_racecar)/urdf/forgez_battery.gazebo"/>
  </xacro:unless>

</robot>
